
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Network Monitoring</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="nav_bar_container">
            
            <!-- Logo -->
            <div class="logo_box">
                <div class="logo">
                    <img src="" alt="Logo">
                </div>
            </div>
            
            <!-- Navigation Bar -->
            <div class="nav_bar">
                <ul>
                    <li><a class="active" href="{% url 'index'%}">Live Network Monitoring</a></li>
                    <li><a href="{% url 'anomalyPage'%}">Anomaly Detection</a></li>
                    <li><a href="{% url 'malLinkPage'%}">Malicious Link Detection</a></li>
                    <li><a href="{% url 'trainPage'%}">Train Models</a></li>
                    <li><a href="{% url 'statPage'%}">Statistics of ML</a></li>
                </ul>
            </div>
        </div>
        
        <!-- To show all captured packet -->
        <div class="content_box">
            
            <!-- profile and notification container -->
            <div class="title_bar">

            </div>
            
            <!--Button to capture traffic -->
            <div class="capture_btn" >
                <span>Stop Capturing</span>
            </div>
            
            <!--All captured packets shown here-->
            <div class="pkt_capturing" id="scrollView">
                <ul >
                    <li id="pkt_list"></li>
                </ul>
                
                
                <!--{% for packet in sniffed %}
                    <br><p>Source IP: {{packet.src_ip}} Destination IP: {{packet.dst_ip}} Source Port: {{packet.sport}} Destination Port: {{packet.dport}}</p><br><hr>
                {% endfor %}-->

            </div>
        </div>
    </div>

    <script>
        
        $(document).ready(function(){
            
            setInterval(function(){
                $.ajax({                    
                    type: "GET",
                    url: '{% url 'getPkt' %}',
                    success: function(response) {
                        if(response.sniffed.src_ip != "" && response.sniffed.sport !=""){
                            var temp_list = "<li><br><p>    Source Ip: "+response.sniffed.src_ip+ 
                            "     Destination Ip: "+response.sniffed.dst_ip+
                            "     Source Port: "+response.sniffed.sport+
                            "    Destination Port: "+response.sniffed.sport+"</p><br></li><hr>";
                            $("#pkt_list").append(temp_list);
                        }
                    },
                    error: function(response){
                        
                    }
                 });
                 
            }, 50)
          });
        
          
    </script>
</body>

</html>